body{
  background-color: #334d8f;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 50px 100px;
}
.error{
  background-color: #fff;
  padding: 10px;
  display: inline-block;
  border-left: solid 5px #e6542b;
}
h3{
  color: #fff;
}
p{
  color: #fff;
  font-weight: 300;
}
hr{
  opacity: 0.2;
  margin: 15px 0;
  display: block;
}
.has-empty:empty{
  display: none;
}
